.App {
  text-align: center;
  background-image: url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0zMDktYWV3LTAxM18xXzEuanBn.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
 min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nomaps{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.text{
  color: #dddddd;
}

.links{
height: 300px;
width: 50%;
position:absolute;
top: 5%;
right: 5%;
}

.links #utd,#git,#twitter{
  background-color: #ccc;
  transition: transform 0.5s ease;
}

.links #utd,#git,#twitter:hover {
  transform: scale(1.2); 
}

span{
  color: #36dd30;
  text-decoration: underline;
}

.carrusel{
  padding: 2rem;
  padding-bottom: 300px;
  width: 500px;
  height: 400px;
  margin: 0 auto;
}
